/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2026 Jiamu Sun <39@barroit.sh>
 */

#post :is(code, kbd, pre, samp) {
	@apply font-mono;
}

#post :is(code, kbd, blockquote, .highlight, .code-block-caption) {
	@apply bg-zinc-100 dark:bg-neutral-800;
}

#post :is(blockquote, .highlight) {
	@apply shadow-sm;
}

#post code {
	@apply px-1 rounded-sm border text-xs
	       border-zinc-200 dark:border-neutral-700;
}

#post .highlight > pre {
	@apply px-4 py-3 overflow-auto;
}

#post kbd {
	@apply px-1 rounded-sm border-1 text-xs
	       border-zinc-500 dark:border-neutral-600;
	box-shadow: 0 .0625rem 0 #0003,
		    inset 0 0 0 .125rem var(--color-zinc-100);
}

@media (prefers-color-scheme: dark) {

#post kbd {
	box-shadow: 0 .0625rem 0 #aaaaaa,
		    inset 0 0 0 .125rem var(--color-neutral-700);
}

} /* @media (prefers-color-scheme: dark) */

#post blockquote {
	@apply py-2 px-4 border-l-4 border-zinc-200 dark:border-neutral-400;
}

#post blockquote .attribution {
	@apply text-right font-semibold;
}

#post .highlight {
	@apply my-4 rounded-md;
}

#post .code-block-caption {
	@apply mt-4 px-3.5 py-2.5 rounded-t-md border-b-1
	       border-zinc-200 dark:border-neutral-400;
}

#post .caption-text, #post figcaption > p {
	@apply text-sm text-zinc-500 dark:text-neutral-400;
}

#post :is(.highlight, .code-block-caption) {
	@apply text-zinc-800 dark:text-neutral-200;
}

#post .code-block-caption+div > .highlight {
	@apply mt-0 rounded-t-none;
}

#post .highlight span.linenos {
	@apply mr-3.5 pr-3.5 inline-block select-none
	       text-zinc-500 dark:text-neutral-500;
	box-shadow: -.0625rem 0 var(--color-zinc-500) inset;
}

@media (prefers-color-scheme: dark) {

#post .highlight span.linenos {
	box-shadow: -.0625rem 0 var(--color-neutral-400) inset;
}

} /* @media (prefers-color-scheme: dark) */
